*{
  padding: 0;
  border: 0;
  margin: 0;
}

body{
  background-color: #000000;
}

#container{
  background: url('../imgs/background.jpg');
  width: 1000px;
  height: 550px;
}

#hero{
  background: url('../imgs/1942.gif');
  background-position: -85px -180px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.enemy1{
  background: url('../imgs/1942.gif');
  background-position: -30px -10px;
  width:28px;
  height:28px;
  position:absolute;
}

.bullet{
  background: url('../imgs/1942.gif');
  background-position: -185px -400px;
  width:18px;
  height:18px;
  position:absolute;
}

#score{
  position: absolute;
  border: 10px solid red;
  top: 20px;
  left: 800px;
  background-color: #ffffff;
  padding: 10px;
  font-size: 30px;
}
